{% extends "auctions/layout.html" %}

{% block body %}

<h1> Listings for category {{ category }}:<h1>

{% for listing in listings %}
    <div class="listing-title">
        <h2><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h2>
    </div>
    <div class="listing-img">
        <img src="{{ listing.image }}" alt="{{ listing.title }}">
    </div>
    <div class="listing-description">
        <h3>Biggest bid: ${{listing.bid.amount}}</h3>
        <h4>{{ listing.descrption }}</h4>
    </div>
{% empty %}
    <h2>There are no Listings for this category right now</h2>
{% endfor %}
{% endblock %}