{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <h1>{{ listing.title }}</h1>
</div>
<div>
    <img src="{{ listing.image }}" alt="{{ listing.title }}">
</div>
<div class="description">
    <h3>{{listing.description}}</h3>
</div>

<h3>comments</h3>

{% for comment in comments %}
<div>
    <p>----------------------</p>
    <h5>{{comment.author}} says:</h5>
    <p>{{comment.content}}</p>
    <p>{{comment.date}}</p>
</div>
{% empty %}
    <h6>There are no comments for this Listing yet</h6>
{% endfor %}
{% endblock %}