{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <h1>{{ listing.title }}</h1>
    <h3>Highest offer: {{ h_bid }}</h3>
</div>
<div>
    <img src="{{ listing.image }}" alt="{{ listing.title }}">
</div>

<div class="description">
    <p>{{listing.description}}</p>
</div>

<form action="{% url 'bid' %}" method="POST">
    {% csrf_token %}
    {{ b_form }}
    <input type="hidden" value={{listing.id}} name="listing">
    <input type="submit">
</form>

<h3>comments</h3>

<h4>Write your comment</h4>
<form action="{% url 'listing' listing.id %}" method="POST">
    {% csrf_token %}
    {{ c_form }}
    <input type="submit">
</form>

{% for comment in comments %}
<div>
    <p>----------------------</p>
    <h5>{{comment.author}} says:</h5>
    <p>{{comment.content}}</p>
    <p>{{comment.date}}</p>
</div>
{% empty %}
    <h6>There are no comments for this Listing yet</h6>
{% endfor %}
{% endblock %}